{% extends 'myapp/base.html' %}

{% load crispy_forms_tags %}
{% block content %}
        <div class="col-md-offset-4 col-md-4" style="margin-top: 50px;font-family: candara;">
            <form method='POST'>
                <h2>Sign Up</h2>
                {% csrf_token%}
                {{form|crispy}}
                <div class='form-group'>
            <button class='btn btn-success mb-2' type='submit'>Sign Up</button>
        </div>
        </form>
            <div class='border-top pt-2'>
            <small class='text-muted'>Already have an Account?</small> <a class='ml-2' href={% url 'login' %}>Sign In</a>
        </div>
        </div>
            
{% endblock content %}